/*just navbar styling*/
#nav {
    
    position: fixed;     /* Fix the navbar to the top */
    top: 0;             /* Position it at the very top */
    left: 0;            /* Align to the left */
    right: 0;           /* Stretch to the right */
    background-color: rgb(32, 32, 32); /* Ensure background color is visible */
    z-index: 1000;      /* Make sure it stays above other elements */
}

.mainContainer {
    font-size: 12px;
    color: white;
}

.unorderedList {
    list-style: none;
    text-align: center;
    cursor: pointer;
    
    #li {
        display: inline;
        margin: 12px;
    }

    #a {
        color: white;
        text-decoration: none;
    }
}

.hrNav {
    width: 900px;
}